.home-page {
    width: 100%;
    height: 100%;
}

.home-profile {
    padding: 20px;
    height: min-content;
    background-color: var(--main-color);
    border-radius: 0 0 var(--main-radius) var(--main-radius);
}

.profile-components {
    width: auto;
    display: flex;
    flex-direction: column;
    color: white;
}

.profile-image {
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 1;
}

.home-body {
    height: 100%;
    padding: 0 20px;
    margin-top: 20px;
}

.teste-aqui {
    cursor: pointer;
    background-color: red;
}

.home-content > h3 {
    margin-bottom: 20px;
}

.home-content > hr {
    opacity: 0.5;
    margin-bottom: 20px;
}

.home-content > div {
    height: min-content;
}

.home-content > div > span {
    font-size: 16px;
}

.home-content-buttons {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    transition: 2s;
}

.home-content-first-button {
    margin-right: 20px;
    margin-bottom: 20px;
}