.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-header-lista-turma {
    background-color: #FFFFFF;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #000000;
}

.title {
    margin-left: 7vw;
    margin-right: auto;
    margin-top: 7vw;
    margin-bottom: 2vw;
    color: #000000;
}

.classList {
    width: 366px;
    margin-left: 15vw;
    margin-right: auto;
    margin-top: 2vh;
    line-height: 2em;
    color: #000000;
    word-spacing: 200px;
    box-shadow: red;
}

