/* .loginPage {
    background-color: #6D65D3;
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.5rem;
}

input {
    margin-bottom: 4vh;
    padding-left: 0.25rem;
    font-size: 1.25rem;
    width: 100%;
    height: 3vh;
    border: none;
    border-radius: 2vh;
} */

.loginPage {
    background-color: #6D65D3;
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
    display: grid;
    grid-template-rows: 2fr 3fr;
}

label {
    display: block;
    margin-bottom: .5vh;
    margin-left: 10vw;
    font-size: 1.5rem;
}

input {
    text-indent: 3vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3vh;
    font-size: 1.25rem;
    width: 80%;
    height: 5.2vh;
    border: none;
    border-radius: 3vh;
}

.forgotPassword {
    margin-left: 10vw;
}

button {
    color: #6D65D3;
    font-size: 1rem;
    float: right;
    margin-right: 10vw;
    background-color: #FFFFFF;
    height: 5.2vh;
    width: 25vw;
    border: none;
    border-radius: 10vh;
}

form {
    display: grid;
    grid-template-rows: 4fr 3fr;
}

.notRegistered {
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.notRegistered a {
    color: #47EC1A;
}