@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

#root {
    width: 100%;
    height: 100%;

    --main-color:#483EC8;
    --main-radius: 20px
}

html, body, #app{
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    width: 100%; 

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #000000;
    font-size: 18px;
    background-color: #ffffff;

    font-family: 'Montserrat', sans-serif;
}

select, input, button {
    text-decoration: none;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
}

section {
    height: 100%;
    width: 100%;
}

.main-button {
    background-color: black;
}

.option-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;
    padding: 20px;
    background-color: white;
    border-radius: var(--main-radius);
    color: var(--main-color);
}

h1 {
    font-size: 36px;
}

span {
    font-size: 20px;
}

button {
    font-size: 20px;
    font-weight: bold;
}

.home-page {
    width: 100%;
    height: 100%;
}

.home-profile {
    padding: 20px;
    height: 200px;
    background-color: var(--main-color);
    border-radius: 0 0 var(--main-radius) var(--main-radius);
}

.profile-components {
    width: min-content;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.profile-image {
    height: 60px;
}

.home-body {
    height: 100%;
    padding: 0 20px;
}

.page-body {
    margin: 0 30px;
    background-color: red;
}

#line {
    width: 100%;
    margin: 30px 0 ;
    border: 1px solid var(--main-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.formRegisterLogin {
    background-color: #6D65D3;
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
    overflow-y: hidden;
}

.defaultInput {
    text-indent: 3vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3vh;
    font-size: 1.25rem;
    width: 80%;
    height: 5.2vh;
    border: none;
    border-radius: 3vh;
}

.defaultLabel {
    display: block;
    margin-bottom: .5vh;
    margin-left: 10vw;
    font-size: 1.5rem;
}

.defaultButton {
    color: #6D65D3;
    font-size: 1rem;
    margin-right: 10vw;
    background-color: #FFFFFF;
    height: 5.2vh;
    width: 25vw;
    border: none;
    border-radius: 10vh;
}