@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

#root {
    width: 100%;
    height: 100%;

    --main-color:#483EC8;
    --main-radius: 20px
}

html, body, #app{
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    width: 100%; 

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #000000;
    font-size: 18px;
    background-color: #ffffff;

    font-family: 'Montserrat', sans-serif;
}

select, input, button {
    text-decoration: none;
    box-shadow: 0 0 0 0;
    border: 0;
    outline: 0;
}

section {
    height: 100%;
    width: 100%;
}

.main-button {
    background-color: black;
}

.option-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;
    padding: 20px;
    background-color: white;
    border-radius: var(--main-radius);
    color: var(--main-color);
}

h1 {
    font-size: 36px;
}

span {
    font-size: 20px;
}

button {
    font-size: 20px;
    font-weight: bold;
}

.home-page {
    width: 100%;
    height: 100%;
}

.profile {
    height: 200px;
    width: 100%;
    background-color: var(--main-color);
    border-radius: 0 0 var(--main-radius) var(--main-radius);
}

.home-body {
    height: 100%;
    width: 100%;
    padding: 0 20px;
}

.page-body {
    margin: 0 30px;
    background-color: red;
}

.form-body {

}

#line {
    width: 100%;
    margin: 30px 0 ;
    border: 1px solid var(--main-color);
}