.Header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 2px;
    font-size: 14px;
    background-color: var(--main-color);
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;

}
