.Header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    background-color: var(--main-color);
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    position: absolute;
}