.Header {
    margin: 0 auto;
    height: 40px;
    align-items: center;
    display: flex;
    background-color: var(--main-color);
}

.Header > h2 {
    margin: auto;
    color: white;
    font-size: 16px;
}