.div-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.div-inputs label{
    margin-bottom: 5px;
    height: 20px;
    color: white;
}

.div-inputs input{
    margin: 0 0 25px 0;
    border-radius: var(--main-radius);
    padding: 10px;
    height: 15px;
}

.div-inputs input:nth-last-child(2) {
    margin: 0 0 50px 0;
}

.div-inputs button {
    width: min-content;
    margin-left: auto;
}

.div-buttons {
    float:right;
}

.register-page {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
}

.register-page > form {
    flex: 1;
    margin: auto;
    min-width: 200px;
    max-width: 400px;
    padding: 0 30px;
}

.title {
    margin-bottom: 30px;
    height: 50px;
    color:#fff;
    text-align: center;
}

/* @media only screen and (min-width:500px) {
    .title {
        color: var(--main-color);
    }
    .div-inputs span{
        color: black;
    }
    .div-inputs input{
        border: 1px solid #C2C2C5;
    }
    .register-page > form{
        padding: 30px 30px;
        background-color: white;
        border-radius: var(--main-radius);
    }
    button {
        border: 1px solid var(--main-color) !important;
    }
} */
#divRegister {
    display: grid;
    grid-template-rows: 2fr 4fr;
    grid-gap: 5vh;
}

.notRegistered {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.notRegistered > span {
    margin: auto;
    color: white;
}

.notRegistered a {
    color: #47EC1A;
}