.post-card {
    margin-bottom: 20px;
}

.post-card > div > h3 {
}

.post-card > div > span {
    font-size: 14px;
    color: var(--main-color)
}

.post-card > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.post-card > button {
    margin-left: auto
}